/* This only changes this particular animation duration */

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

.img-circle {
    border-radius: 100%;
}

.card {
    border: none;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
}